################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SMS/.vs/SMS
/SMS/SMS/obj
/SMS/SMS/bin/Release/net6.0
/SMS/SMS/.config
