@{
    // Render layout
    Layout = "_Layout";
}

@if (ViewBag.IsSemesterRunning == true)
{
    <div class="row" style="margin-top:50px; margin-left:600px;">
        <div class="col-12">
            <button class="btn btn-success"><a class="text-white" asp-action="GetApplicantAdmitCard" asp-controller="UserRegistration">Download Your AdmitCard</a></button>
        </div>
    </div>
}

