
<div class="row" style="margin-top:50px; margin-left:600px;">
    <div class="col-12">
        <button class="btn btn-success"><a class="text-white" asp-action="CreateApplicant" asp-controller="UserRegistration">Apply Here</a></button>
    </div>
</div>


