    
* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px
}

p {
    line-height: 150%;
    margin-bottom: 2em;
}


.aligncenter {
    display: block;
    margin: 0 auto;
}


.floatleft {
    float: left;
}

.floatright {
    float: right
}



.MainWrap {

}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    overflow: scroll;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    /*overflow-x: hidden;*/
    padding-top: 20px;
    margin-top: 98px;
}

.contentMain {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 20px;
    margin-top: 100px;
    height: 100%;
    width: 1200px;
    /*overflow:auto;*/
    position: fixed;
    overflow: scroll;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-top: 1px;
    padding: 5px;
}

.sidebar ul li a {
    color: black;

}

.sidebar ul li:hover {
    /*text-decoration: underline*/
    background-color: lightsteelblue;
}

.sidebar ul li:hover a {
    color: black;
    font-weight: bolder;
}






