.stickHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999999999;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
}

.flex-item-1 {
    flex: 10%;
}

.flex-item-2 {
    flex: 75%;
}

.flex-item-3 {
    flex: 15%;
}

.flex-item-3 .Profilelogo {
    position: relative;
}


.flex-item-3 ul {
    position: absolute;
    top: -999999px;
    width: 200px;
    padding: 10px;
    list-style-type: none;
}



.flex-item-3 ul li {
    margin-top: 0;
    background-color: ghostwhite;
    margin-top: 1px;
    padding: 5px;
}

.flex-item-3 ul li a {
    color: gray;
    font-weight:bolder;
}

.flex-item-3 ul li:hover {
    /*text-decoration: underline*/
    background-color: lightsteelblue;
}

.flex-item-3 .Profilelogo:hover ul {
    top: 40px;
    right:0;
    cursor: pointer;
}


/*@media (max-width: 800px) {
    .flex-item-1, .flex-item-2 {
        flex: 100%;
    }
}*/


