@model SMS.ViewModel.DepartmentViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";

}

@*
   asp-for er maddhome Model property gulo bind kora ache input field er sathe. form submit korle ei filed er maddhomei Model er 
   property te value assign hobe. form a controller er action method diye dewa ache.. Post Request er maddhome Method er Payload a value gulo jabe.
*@

<div class="row mt-4">
    <div class="col-md-3 ms-4">
        <form asp-controller="MasterService" asp-action="CreateDepartment" method="post" class="bg-light p-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mt-2">
                <label asp-for="@Model.DepartmentName" class="control-label" style="font-size:15px">Department Name</label>
                <input asp-for="@Model.DepartmentName" class="form-control mt-2" />
                <span asp-validation-for="@Model.DepartmentName" class="text-danger" style="font-size:15px"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-success" />
                <a class="btn btn-secondary ms-2" asp-controller="MasterService" asp-action="GetDepartment">Back</a>

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

