@model SMS.ViewModel.SemesterViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";

}

<div class="row mt-4">
    <div class="col-md-3 ms-4">
        <form asp-controller="MasterService" asp-action="CreateSemester" method="post" class="bg-light p-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="SemesterName" class="control-label" style="font-size:15px">Semester Name</label>
                <input asp-for="SemesterName" class="form-control mt-2" />
                <span asp-validation-for="SemesterName" class="text-danger" style="font-size:15px"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ApplicationDeadline" class="control-label" style="font-size:15px">Application Deadline</label>
                <input asp-for="ApplicationDeadline" class="form-control mt-2" />
                <span asp-validation-for="ApplicationDeadline" class="text-danger" style="font-size:15px"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-success" />
                <a class="btn btn-secondary ms-2" asp-controller="MasterService" asp-action="GetSemester">Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



