@model IEnumerable<SMS.ViewModel.DepartmentViewModel>

@{
    ViewData["Title"] = "Department";
    Layout = "_AdminLayout";
}



<p>
    <a asp-controller="MasterService" asp-action="CreateDepartment" class="btn btn-primary mt-3 ms-3">Create</a>
</p>

@if (!string.IsNullOrEmpty(ViewBag.Msg))
{
    <h5 class="text-danger">@ViewBag.Msg</h5>
}

<div>
    <div class="row">
        <div class="col-8">


            <table class="table table-responsive-sm border  ms-3">
                <thead>
                    <tr>
                        <th>
                            Department 
                        </th>
                        <th class="text-end">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentName)
                            </td>
                            <td class="text-end">
                                @*asp-route-id for Route Values => {controller=Home}/{action=Index}/{id?}*@
                                <a asp-action="" asp-route-id="@item.Id">
                                    <img src="~/image/Edit.png" style="width:25px; height:25px;" class="img-fluid" />
                                </a>

                                <a asp-controller="MasterService" asp-action="DeleteDepartment" asp-route-id="@item.Id">
                                    <img src="~/image/Delete.png" style="width:25px; height:25px;" class="img-fluid" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>



