@model SMS.ViewModel.LoginViewModel



<div class="login-container" style="font-size:15px;">
    <form asp-controller="Auth" asp-action="Verify" method="post">
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" required />
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" required />
        </div>

        <input type="hidden" name="returnUrl" value="@ViewData["returnedURL"]" />
        <button type="submit" class=" btn btn-primary rounded">Login</button>
    </form>
</div>


